*{
    margin: 0;
    padding: 0;
}
/*font-family: 'Mulish', sans-serif;*/
.login{
    margin-top: 50px;
    padding: auto;
    width: 600px;
    height: 380px;
    margin-left: 400px;
    border: 1px solid #0a2ff1;
}
h1{
    text-align: center;
    color: #04146c;
    font-size: 24px;
    font-family:'Mulish';
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
    
}
.form{
    margin-top: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /*border-bottom: #04146c 1px solid ;*/
    width: 80%;
}
hr{
    width: 65%;
    margin-left: 20%;
}
input{
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
    margin-left: 50px;
}
button{
    margin-bottom: 10px;
    padding: 10px; 
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color:#0a2ff1;
    width: 85%;
    margin-left: 50px;
}
input::placeholder{
    font-family: 'Mulish';
    font-weight: 400;
    color:#414166 ;
    font-size: 14,6px;
    text-align: center;
    text-align: start;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Mulish';
    font-size: 18,6px;
    font-weight: 400;
    color: #0a2ff1;
}
h3{
    text-align: center;
    font-family: 'Mulish';
    font-size: 18,6px;
    font-weight: 400;
    color: #0a2ff1;
}