*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagenes/M4-desafio1-fondo.png);
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container{
    margin: auto;
    background-image: url(imagenes/M4-desafio1-fondo-form.png);
    height: 400px;
    width: 700px;
    
}
.login{
    background-color: white;
    width: 90%;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
    align-items: center;
    
    
  
}
form{
    width: 80%;
    height: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
input{
    width:100%; 
    height: 20px;
    font-family:'Mulish';
    font-weight:400 ;
    font-size: 22,6px;
    color:#414166 ;
    align-items: center;
}
#user{
    margin: 10px;
    height: 30px;
}
#contrasena{
    margin: 10px;
    height: 30px;
}
h1{
    text-align: center;
    font-family: 'Mulish';
    font-size: 32,64px;
    color: #04146c;
    padding-top: 10px;
}
button{
    font-family:'Mulish' ;
    font-size: 22,6px;
    font-weight: 600;
    background-color: #15163d;
    color: white;
    width: 100%;
    margin-left: 12px;
    height: 30px;
}